/* General Styles */
body {
    font-family: "Poppins", sans-serif;
    background-color: #0571d3;
    margin: 0;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Fix date placeholder */
input[type="date"]::before {
    content: attr(placeholder);
    color: #999;
    position: absolute;
    /* margin-left: 10px; */
    line-height: 40px; /* Ajusta a la altura del campo */
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    content: "";
}



.register-container {
    width: 80%;
    max-width: 400px;
    text-align: center;
    color: #fff;
}

/* Title */
.title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
}

/* Formulario */
.register-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.register-form input {
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.register-form input::placeholder {
    color: #999;
}

.btn-primary {
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 600;
    color: #0571d3;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #005bb5;
    color: #fff;
    transform: scale(1.05);
}

/* Texto adicional */
.account-text {
    font-size: 14px;
    margin-top: 10px;
}

.login-link {
    color: #fff;
    text-decoration: underline;
}

/* Logo */
.logo-container {
    margin-top: 30px;
}

.logo {
    width: 50%;
    max-width: 250px;
}

/* Estilizar el select para que coincida con los inputs */
.register-form select {
    border: none;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    background-color: #fff;
    color: #0571d3;
    appearance: none; /* Oculta el ícono predeterminado del select */
    cursor: pointer;
    position: relative;
}

.register-form select:focus {
    outline: none;
    border: 2px solid #005bb5;
}

/* Ajuste de placeholder para la primera opción */
.register-form select option:first-child {
    color: #999;
}

/* Icono de flecha personalizada */
.register-form select::-ms-expand {
    display: none; /* Oculta el ícono en IE/Edge */
}

/* Agregar flecha personalizada */
.register-form select {
    background-image: url('../images/down-arrow.png'); /* Agrega una imagen de flecha personalizada */
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 16px;
}


/* Responsive Design */
@media (max-width: 576px) {
    .title {
        font-size: 24px;
    }

    .btn-primary {
        font-size: 16px;
    }

    .logo {
        width: 70%;
    }
}
